<body class="text-center">
  <main class="form-signin w-100 m-auto">
  <form>
  <h1 class="h3 mb-7  fw-normal">DCX CMS</h1>
  <div class="form-floating">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"  required>
  <label for="floatingInput">Email Address</label>
  </div>
  <div class="form-floating">
  <input type="password" class="form-control" id="floatingpassword" placeholder="name@example.com"  required>
  <label for="floatingpassword">password</label>
  </div>
  <div class="none">
      <label>
      <input type="checkbox" value="remember-me"> Remember me
      </label>
      </div>
      <button class="w-100">Sign in</button>
      </form>
      </main>
  </body>