<nav class="navbar  navbar-expand-md 
navbar" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#"  style="color:white ;">DCX CMS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent ">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/dashboard" routerLinkActive="active" class="nav-link " style="color:white ;">Dashboard</a>
          </li>
          <li class="nav-item">
            <a routerLink="/pages" routerLinkActive="active"class="nav-link" href="#"  style="color:white ;">Pages</a>
          </li>
          <li class="nav-item">
            <a  routerLink="/categories" routerLinkActive="active"class="nav-link" href="#"  style="color:white ;">Categories</a>
          </li>
          <li class="nav-item">
            <a routerLink="/users" routerLinkActive="active"class="nav-link" href="#" style="color:white ;">Users</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class=" search form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline" type="submit" style="background-color:white;">Submit</button>
        </form>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="color:white ;">
              My Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#"  style="color:white ;">Logout</a>
        </li>
      </ul>
  
      </div>
    </div>
  </nav>
