.main{
    text-align: right;
    font-size: 15px;
    padding-top: 30px;
    padding-right: 50px;
  }
  .btn {
  border: 1px solid grey;
  padding: 5px 5px;
  font-size: 3px;
  
  }
  .user,h1{
    color:#0066b2;
    font-size: 40px;
    padding-bottom: 10px; 
  }
  .row{
    margin-left: 4rem;
  }
  hr  
  {  
  width: 500px;    
  margin-top: 1px;  
  border-width: 1px;  
  border-color: black;  
  }  
  
      th, td 
      {
        padding: 5px;
        text-align: left;
        font-size: 13px;
      }
      table 
        {
        border-collapse: collapse;
        width: 800px;
        padding-top: 10px; 
        text-align: left; 
      }
      .none{
        background-color: #ddd;
       height: 40px;
       padding-top: 5px;
      }